<template>
    <v-dialog :value="value" @click:outside="$emit('input')" content-class="modal-dialog modal-lg" max-width="1000px">
        <v-card class="mx-auto">
            <v-card-title
                    class="green lighten-1 mb-4"
                    primary-title>
                {{paramProps > 0 ? 'Edit' : 'Add'}} Appointment
            </v-card-title>
            <v-container fluid>
                <v-row dense>
                    <v-col :cols="paramProps > 0 ? 12 : 2">
                            <v-list max-height="500" :class="{'add-style': paramProps === 0, 'edit-style': paramProps > 0, 'selectable-time-wrapper': true}">
                                <v-list-item v-for="(item, i) in timeSlots" :key="i" class="selectable-time">
                                    <v-list-item-content>
                                        <v-list-item-title>{{item}}</v-list-item-title>
                                    </v-list-item-content>
                                </v-list-item>
                            </v-list>
                    </v-col>
                    <v-col :cols="paramProps > 0 ? 12 : 10"
                    >
                        <v-card>
                            <v-card-text>
                                <form method="POST" name="" role="form">
                                    <v-layout row wrap>
                                        <v-flex>
                                            <v-text-field v-model="model.details" label="Details "
                                                          required></v-text-field>
                                        </v-flex>
                                    </v-layout>
                                    <v-layout row wrap>
                                        <v-flex xs6>
                                            <span> Foreground Color</span>
                                            <color-picker
                                                    :colorPreferences="{label: 'Foreground color *', defaultColor: '#1976D2FF'}"
                                                    @selected-color="model.foregroundColor = $event"></color-picker>
                                        </v-flex>
                                        <v-flex xs6>
                                            <span> Background Color</span>
                                            <color-picker
                                                    :colorPreferences="{label: 'Foreground color *', defaultColor: '#1976D2FF'}"
                                                    @selected-color="model.backgroundColor = $event"></color-picker>
                                        </v-flex>
                                    </v-layout>
                                    <v-layout row wrap>
                                        <v-flex xs1>
                                            <v-btn color="secondary" class="btn btn-grey m-b-10 m-t-10"
                                                   @click.native="$emit('input')">
                                                Cancel
                                            </v-btn>
                                        </v-flex>
                                        <v-flex xs10>
                                            <v-btn color="success" class="btn btn-black ml-10 m-t-10" @click="onSubmit">
                                                Submit
                                            </v-btn>
                                        </v-flex>
                                    </v-layout>
                                </form>
                            </v-card-text>
                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
        </v-card>
    </v-dialog>
</template>

<script>
    import ColorPicker from "./ColorPicker";
    import Selection from '../plugins/selectable'

    export default {
        props: ['value', 'paramProps', 'selectedCells', 'timeSlots'],
        components: {
            ColorPicker,
        },
        data() {
            return {
                selectedTime: [],
                selectionInstance: '',
                model: {
                    details: '',
                    foregroundColor: '',
                    backgroundColor: ''
                },
            }
        },
        mounted() {
            this.selectionInstance = Selection;
        },
        methods: {
            onSubmit() {
                this.$emit('appointment-emit', this.model);
                this.$emit('input');
            },
        }
    }
</script>
<style lang="scss" scoped>
    .selection-area {
        outline: 1px solid rgba(0, 128, 255, 0.6);
        background: rgba(0, 128, 255, 0.2);
    }
    .selectable-time-grid {
        display: flex;
        flex-wrap: wrap;
        // width: 600px;
        // margin: 0 auto;
        // background: #eee;
    }

    .selectable-time {
        /*width: 100px;*/
        /*height: 35px;*/
        /*padding: 10px;*/
        cursor: pointer;
        background: #ddd;
        text-align: center;
        // margin: 2px;
        /*border: 1px solid white;*/
        // border-radius: 3px;
    }

    .add-style {
        overflow: auto;
    }
    .edit-style {
        overflow: auto;
        display: flex;
    }

    .selected {
        background: rgba(0, 128, 64, 0.3);
        // transition: background 300ms ease;
    }
</style>