<template>
    <v-dialog :value="value" @click:outside="$emit('input')" content-class="modal-dialog modal-lg" max-width="1000px">
        <v-card class="mx-auto">
            <v-card-title
                    class="green lighten-1 mb-4"
                    primary-title>
                {{paramProps > 0 ? 'Edit' : 'Add'}} Background Note
            </v-card-title>

            <v-card-text>
                <form method="POST" name="" role="form">
                    <v-layout row wrap>
                        <v-flex>
                            <v-textarea
                                    name="message"
                                    single-line
                                    label="Background Note"
                                    v-model="model.details"
                            ></v-textarea>
                        </v-flex>
                    </v-layout>
                    <v-layout row wrap>
                        <v-flex xs1>
                            <v-btn color="secondary" class="btn btn-grey m-b-10 m-t-10"
                                   @click.native="$emit('input')">
                                Cancel
                            </v-btn>
                        </v-flex>
                        <v-flex xs10>
                            <v-btn color="success" class="btn btn-black ml-10 m-t-10" @click="onSubmit">
                                Submit
                            </v-btn>
                        </v-flex>
                    </v-layout>
                </form>
            </v-card-text>
        </v-card>
    </v-dialog>
</template>

<script>

    export default {
        props: ['value', 'paramProps', 'selectedCells'],
        data() {
            return {
                model: {
                    details: '',
                    backgroundColor: '#137aa269',
                },
            }
        },
        methods: {
            onSubmit() {
                this.$emit('background-note-emit', this.model);
                this.$emit('input');
            }
        }
    }
</script>
