<template>
    <v-container>
        <v-layout
                text-center
                wrap
        >
            <v-flex xs2>
                <v-date-picker v-model="picker" color="green lighten-1" @change="gotoDate"
                               :landscape="false"></v-date-picker>
                <!-- START -  Temporary code for Button named as Change Business Hours-->
                <v-menu>
                    <template v-slot:activator="{ on }">
                        <v-btn v-on="on" color="primary" block class="btn btn-light-blue mt-4 wd100"> Change business hours
                        </v-btn>
                    </template>
                    <v-list>
                        <v-list-item @click="changeBusinessHours('a')">
                            <v-list-item-title>Dr Alex Fibishenko</v-list-item-title>
                        </v-list-item>
                        <v-list-item @click="changeBusinessHours('b')">
                            <v-list-item-title>Dr Hillel New</v-list-item-title>
                        </v-list-item>
                        <v-list-item @click="changeBusinessHours('c')">
                            <v-list-item-title>Ms Samantha Coburn</v-list-item-title>
                        </v-list-item>
                        <v-list-item @click="changeBusinessHours('d')">
                            <v-list-item-title>Mrs Kim Pekar</v-list-item-title>
                        </v-list-item>
                    </v-list>
                </v-menu>
                <!-- END -  Temporary code for Button named as Change Business Hours-->
                <!-- START -  Temporary code for Button named as Change Working Hours-->
                <v-menu>
                    <template v-slot:activator="{ on }">
                        <v-btn v-on="on" color="green" block class="btn btn-light-blue mt-4 wd100"> Change working hours
                        </v-btn>
                    </template>
                    <v-list>
                        <v-list-item @click="changeTimeSlots({minTime: '09:00', maxTime: '17:00'})">
                            <v-list-item-title>Dr Alex Fibishenko</v-list-item-title>
                        </v-list-item>
                        <v-list-item @click="changeTimeSlots({minTime: '10:00', maxTime: '18:00'})">
                            <v-list-item-title>Dr Hillel New</v-list-item-title>
                        </v-list-item>
                        <v-list-item @click="changeTimeSlots({minTime: '08:00', maxTime: '16:00'})">
                            <v-list-item-title>Ms Samantha Coburn</v-list-item-title>
                        </v-list-item>
                        <v-list-item @click="changeTimeSlots({minTime: '11:00', maxTime: '16:00'})">
                            <v-list-item-title>Mrs Kim Pekar</v-list-item-title>
                        </v-list-item>
                    </v-list>
                </v-menu>
                <!-- END -  Temporary code for Button named as Change Working Hours-->
            </v-flex>
            <v-tooltip max-width="245" :open-delay="500" v-model="showToolTip" top :nudge-right="nudgeTooltipRight"
                       :nudge-bottom="nudgeTooltipBottom">
                <span>{{eventTooltipDetails}}</span>
            </v-tooltip>
            <v-flex xs10>
                <v-menu
                        ref="leftClickMenu"
                        transition="slide-y-transition"
                        v-model="value"
                        :nudge-right="nudgeRight"
                        :nudge-bottom="nudgeBottom"
                        :closeOnClick="closeOnClick"
                        :closeOnContentClick="true"
                        :absolute="true"
                >
                    <v-list>
                        <v-list-item
                                v-for="(item, index) in leftClickMenu"
                                :key="index"
                                @click="selectedApptOption(item.type)"
                        >
                            <v-list-item-title>{{ item.title }}</v-list-item-title>
                        </v-list-item>
                    </v-list>
                </v-menu>
                <v-menu
                        ref="contextMenu"
                        transition="slide-y-transition"
                        v-model="contextMenu"
                        :nudge-right="nudgeContextMenuRight"
                        :nudge-bottom="nudgeContextMenuBottom"
                        :closeOnClick="closeOnClick"
                        :closeOnContentClick="true"
                >
                    <v-list>
                        <v-list-item
                                v-for="(item, index) in rightClickMenu"
                                :key="index"
                                @click="selectedContextMenuOption(item.type)"
                        >
                            <v-list-item-title>{{ item.title }}</v-list-item-title>
                        </v-list-item>
                    </v-list>
                </v-menu>
                <full-calendar
                        class='demo-app-calendar'
                        ref="fullCalendar"
                        default-view="resourceTimeGridDay"
                        :header="{ left: 'prev,next today', center: 'title', right: 'resourceTimeGridDay,resourceTimeGridWeek,resourceDayGridMonth,listYear'}"
                        :selectable="true"
                        :plugins="calendarPlugins"
                        :weekends="calendarWeekends"
                        :events="calendarEvents"
                        slot-duration="00:15:00"
                        minTime="07:00:00"
                        maxTime="20:00:00"
                        :allDaySlot="false"
                        :resources="resources"
                        @eventClick="eventClick"
                        @select="handleSelect"
                        @eventDragStop="drageStop"
                        @eventDrop="eventResizedAndDrop"
                        @eventMouseEnter="handleMouseEnter"
                        @eventMouseLeave="showToolTip = false"
                        :editable="true"
                        :nowIndicator="true"
                        :slotEventOverlap="false"
                        :eventRender="eventRender"
                        :selectOverlap="selectOverlap"
                        @eventResize="eventResizedAndDrop"
                        schedulerLicenseKey="GPL-My-Project-Is-Open-Source"
                        resourceOrder="resource_order"
                        :businessHours="true"
                        nextDayThreshold="09:00:00" />
<!--                If nextDayThreshold passed as props then event would appear to take up current day and next day
Suppose Next Day thresold passed as 09:00:00
so, if event will end after nextday 9 am then it will appear next day also,
if event will end before nextday 9 am then event will appear only on current day
-->
                />
            </v-flex>
            <appointment-modal v-model="appointmentModal"
                               :param-props="editId"
                               ref="appointmentModal"
                               :time-slots="timeSlots"
                               @appointment-emit="appointmentEmit"></appointment-modal>
            <background-note-modal ref="backgroundNoteModal" v-model="backgroundNoteModal" :param-props="editId"
                                   @background-note-emit="emitAddBackgroundNote"></background-note-modal>
            <block-time-modal ref="blockTimeModal" v-model="blockNoteModal" :param-props="editId"
                              @block-note-emit="emitBlockNote"></block-time-modal>
        </v-layout>
    </v-container>
</template>

<script>
    import FullCalendar from '@fullcalendar/vue'
    import interactionPlugin from '@fullcalendar/interaction'
    import resourceDayGridPlugin from '@fullcalendar/resource-daygrid';
    import resourceTimeGridPlugin from '@fullcalendar/resource-timegrid';
    import listPlugin from '@fullcalendar/list';
    import AppointmentModal from "./AppointmentModal";
    import BackgroundNoteModal from "./BackgroundNoteModal";
    import BlockTimeModal from "./BlockTimeModal";
    import moment from 'moment'
    import bootstrapPlugin from '@fullcalendar/bootstrap';

    export default {
        name: 'CustomFullCalendar',
        components: {
            FullCalendar,
            AppointmentModal,
            BackgroundNoteModal,
            BlockTimeModal
        },

        data: () => ({
            calendarApi: '',
            preselectedTime: {
                startTime: '',
                endTime: ''
            },
            blockNoteModal: false,
            contextMenu: false,
            eventTooltipDetails: '',
            editId: 0,
            showToolTip: false,
            selectedEvent: '',
            picker: new Date().toISOString().substr(0, 10),
            appointmentModal: false,
            backgroundNoteModal: false,
            nudgeContextMenuBottom: '',
            nudgeContextMenuRight: '',
            nudgeTooltipBottom: '',
            nudgeTooltipRight: '',
            nudgeRight: "",
            nudgeBottom: "",
            left: "",
            top: "",
            closeOnClick: false,
            value: false,
            leftClickMenu: [],
            timeSlots: ['07:00', '07:15', '07:30', '07:45', '08:00', '08:15', '08:30', '08:45', '09:00', '09:15', '09:30', '09:45', '10:00', '10:15', '10:30', '10:45', '11:00', '11:15', '11:30', '11:45', '12:00', '12:15', '12:30', '12:45', '13:00', '13:15', '13:30', '13:45', '14:00', '14:15', '14:30', '14:45', '15:00', '15:15', '15:30', '15:45', '16:00', '16:15', '16:30', '16:45', '17:00', '17:15', '17:30', '17:45', '18:00', '18:15', '18:30', '18:45', '19:00', '19:15', '19:30', '19:45', '20:00'],
            nonAppointmentMenu: [
                {title: 'Add Appointment', type: 1},
                {title: 'Block Time', type: 2},
                {title: 'Background Note', type: 3},
                {title: 'Make Available', type: 4},
                {title: 'Website Unavailable', type: 5},
                {title: 'Add Patient', type: 10},
            ],
            existAppointmentMenu: [
                {title: 'Edit Appointment', type: 1},
                {title: 'Add Patient', type: 10},
                {title: 'Check In', type: 11},
                {title: 'Read In', type: 12},
                {title: 'Confirm', type: 13},
                {title: 'Cancel', type: 14},
                {title: 'No Show', type: 15},
                {title: 'Copy', type: 16},
            ],
            existBlockAptMenu: [
                {title: 'Edit Block Note', type: 2},
            ],
            existBackgroundAptMenu: [
                {title: 'Edit Background Note', type: 3},
            ],
            rightClickMenu: [
                {title: 'Delete', type: 6, event: ''},
            ],
            calendarPlugins: [ // plugins must be defined in the JS
                resourceTimeGridPlugin,
                resourceDayGridPlugin,
                listPlugin,
                interactionPlugin, // needed for dateClick
                bootstrapPlugin,
            ],
            calendarWeekends: true,
            calendarEvents: [
                { //Default Event
                    id: 'a',
                    resourceId: 'a',
                    title: 'Default Test Event',
                    start: moment(new Date()).add(1, 'hours').set({minute: 0, second: 0, millisecond: 0}).toDate(),
                    end: moment(new Date()).add(3, 'hours').set({minute: 0, second: 0, millisecond: 0}).toDate(),
                    allDay: false,
                    type: 1
                }
            ],
            currentContextMenuEvent: '',
            resources: [
                { id: 'a', title: 'Dr Alex Fibishenko', resource_order: 0,},
                {id: 'b', title: 'Dr Hillel New', resource_order: 1,},
                {id: 'c', title: 'Ms Samantha Coburn', resource_order: 2,},
                {id: 'd', title: 'Mrs Kim Pekar', resource_order: 3,},
            ],
            selectedCellsDateTime: '',
        }),
        mounted() {
            this.leftClickMenu = this.nonAppointmentMenu;
            this.calendarApi = this.$refs.fullCalendar.getApi();
        },
        methods: {
            /**
             * Left click menu position
             * */
            setPosition(selectedCells) {
                this.nudgeRight = selectedCells.jsEvent.pageX;
                this.nudgeBottom = selectedCells.jsEvent.pageY;
                this.left = selectedCells.jsEvent.pageX;
                this.top = selectedCells.jsEvent.pageY;
                this.selectedEvent = selectedCells;
            },
            /**
             * Open left click menu on date click
             * */
            // handleDateClick(selectedCells) {
            //     this.value = false;
            //     this.editId = 0;
            //     this.leftClickMenu = this.nonAppointmentMenu;
            //     this.setPosition(selectedCells);
            //     this.$nextTick(() => {
            //         this.contextMenu = false;
            //         this.value = true;
            //     });
            // },
            /**
             * Open left click menu on cell selection
             * */
            handleSelect(selectedCells) {
                this.value = false;
                this.contextMenu = false;
                this.editId = 0;
                this.leftClickMenu = this.nonAppointmentMenu;
                this.setPosition(selectedCells);
                this.$nextTick(() => {
                    this.value = true;
                });
            },
            /**
             * open corresponding modal to type
             * */
            selectedApptOption(apptOption) {
                if (apptOption === this.$getConst('APPOINTMENT')) {
                    if (this.editId > 0) {
                        this.$refs.appointmentModal.model.details = this.selectedEvent.event.title;
                        this.selectedEvent.start = this.selectedEvent.event.start;
                        this.selectedEvent.end = this.selectedEvent.event.end;
                    }
                    this.preselectedTime.startTime = this.selectedEvent.start.toLocaleTimeString([], { // Need to clear this field after submission
                        hour: '2-digit',
                        minute: '2-digit'
                    });
                    this.preselectedTime.endTime = this.selectedEvent.end.toLocaleTimeString([], { // Need to clear after this field submission
                        hour: '2-digit',
                        minute: '2-digit'
                    });
                    let startIndex = this.timeSlots.findIndex(time => time === this.preselectedTime.startTime);
                    let endIndex = this.timeSlots.findIndex(time => time === this.preselectedTime.endTime);
                    if (this.preselectedTime.startTime === this.$getConst('FULLDAY_TIME') && this.preselectedTime.endTime === this.$getConst('FULLDAY_TIME')) {
                        startIndex = 0;
                        endIndex = 52;
                    }
                    setTimeout(() => {
                        this.clearPreviousSelection();
                        this.willSelect(startIndex, endIndex);
                    }, 200)
                    this.appointmentModal = true;
                }
                if (apptOption === this.$getConst('APPT_BLOCK_TIME')) {
                    if (this.editId > 0) {
                        this.$refs.blockTimeModal.model.details = this.selectedEvent.event.title;
                    }
                    this.blockNoteModal = true;
                }
                if (apptOption === this.$getConst('APPT_BACKGROUND_NOTE')) {
                    if (this.editId > 0) {
                        this.$refs.backgroundNoteModal.model.details = this.selectedEvent.event.title;
                    }
                    this.backgroundNoteModal = true;
                }
                if (apptOption === this.$getConst('APPT_MAKE_AVAILABLE')) {
                    this.calendarEvents.push({
                        id: this.uId(),
                        title: 'Available',
                        resourceId: this.selectedEvent.resource.id,
                        end: this.selectedEvent.endStr,
                        start: this.selectedEvent.startStr,
                        allDay: this.selectedEvent.allDay,
                        color: "#FFFFFF",
                        textColor: "#000000",
                        type: this.$getConst('APPT_MAKE_AVAILABLE'),
                    })
                }
            },
            /**
             * Change date by mini date picker date change
             * */
            gotoDate(newDate) {
                this.$nextTick(() => {
                    this.contextMenu = false;
                    this.value = false;
                });
                this.calendarApi.gotoDate(newDate);
            },

            /**
             * add new appointment data
             * */
            appointmentEmit(eventData) {
                let eventDate = moment(this.selectedEvent.start).format('YYYY-MM-DD')
                let selected = this.$refs.appointmentModal.selectionInstance.getSelection();
                let startTime = eventDate + " " + selected[0].textContent;
                let endTime = eventDate + " " + selected[selected.length - 1].textContent;
                if (this.editId > 0) {
                    const updatedEvent = this.calendarApi.getEventById(this.selectedEvent.event.id);
                    updatedEvent.setProp('title', eventData.details);
                    updatedEvent.setStart(startTime);
                    updatedEvent.setEnd(endTime);
                    updatedEvent.setProp('backgroundColor', eventData.backgroundColor);
                    updatedEvent.setProp('textColor', eventData.foregroundColor);
                    this.updateEvent(updatedEvent, this.selectedEvent.event.id); // We need to also update properties in calendarEvents
                } else {
                    this.calendarEvents.push({
                        id: this.uId(),
                        title: eventData.details,
                        resourceId: this.selectedEvent.resource.id,
                        end: endTime,
                        start: startTime,
                        allDay: this.selectedEvent.allDay,
                        backgroundColor: eventData.backgroundColor,
                        textColor: eventData.foregroundColor,
                        type: this.$getConst('APPOINTMENT'),
                    })
                }
                eventData.details = '';
                this.editId = 0;
                this.preselectedTime = {startTime: '', endTime: ''};
            },
            /**
             * Add new background note
             */
            emitAddBackgroundNote(eventData) {
                if (this.editId > 0) {
                    const updatedEvent = this.calendarApi.getEventById(this.selectedEvent.event.id);
                    updatedEvent.setProp('title', eventData.details);
                    updatedEvent.setProp('backgroundColor', eventData.backgroundColor);
                    updatedEvent.setProp('textColor', eventData.foregroundColor);
                    this.updateEvent(updatedEvent, this.selectedEvent.event.id); // We need to also update properties in calendarEvents
                } else {
                    this.calendarEvents.push({
                        id: this.uId(),
                        title: eventData.details,
                        resourceId: this.selectedEvent.resource.id,
                        end: this.selectedEvent.endStr,
                        start: this.selectedEvent.startStr,
                        allDay: this.selectedEvent.allDay,
                        color: eventData.backgroundColor,
                        editable: false, // Disable drag and resize for the particular event
                        resourceEditable: false, // Disable drag and drop for the particular resource editable
                        type: this.$getConst('APPT_BACKGROUND_NOTE'),
                    })
                }
                eventData.details = '';
                this.editId = 0;
            },
            /**
             * Add new block time note
             * @param eventData
             */
            emitBlockNote(eventData) {
                if (this.editId > 0) {
                    const updatedEvent = this.calendarApi.getEventById(this.selectedEvent.event.id);
                    updatedEvent.setProp('title', eventData.details);
                    this.updateEvent(updatedEvent, this.selectedEvent.event.id); // We need to also update properties in calendarEvents
                } else {
                    this.calendarEvents.push({
                        id: this.uId(),
                        title: eventData.details,
                        resourceId: this.selectedEvent.resource.id,
                        end: this.selectedEvent.endStr,
                        start: this.selectedEvent.startStr,
                        allDay: this.selectedEvent.allDay,
                        color: eventData.backgroundColor,
                        type: this.$getConst('APPT_BLOCK_TIME'),
                    })
                }
                eventData.details = '';
                this.editId = 0;
            },

            /**
             *This will keep calendarEvents in sync:
             * @param updatedEvent - update event object with new data
             * @param eventId - updatable event ID
             * @param newResource - If resource is updated
             */
            updateEvent(updatedEvent, eventId, newResource = null) {
                let index = this.calendarEvents.findIndex(event => event.id === eventId);
                this.calendarEvents[index].title = updatedEvent.title;
                this.calendarEvents[index].start = updatedEvent.start;
                this.calendarEvents[index].end = updatedEvent.end;
                this.calendarEvents[index].backgroundColor = updatedEvent.backgroundColor;
                this.calendarEvents[index].textColor = updatedEvent.textColor;
                if (newResource) {
                    this.calendarEvents[index].resourceId = newResource.id;
                }
            },

            /**
             * Open left click menu on event click
             * */
            eventClick(event) {
                // this.editId = event.event.id;
                this.editId = 1;
                this.value = false; //Close if left click menu is opened anywhere
                this.contextMenu = false;
                if (event.event.extendedProps.type === this.$getConst('APPOINTMENT')) {
                    this.leftClickMenu = this.existAppointmentMenu;
                }
                if (event.event.extendedProps.type === this.$getConst('APPT_BLOCK_TIME')) {
                    this.leftClickMenu = this.existBlockAptMenu;
                }
                if (event.event.extendedProps.type === this.$getConst('APPT_BACKGROUND_NOTE')) {
                    this.leftClickMenu = this.existBackgroundAptMenu;
                }
                this.setPosition(event);

                this.$nextTick(() => {
                    if (event.event.extendedProps.type !== this.$getConst('APPT_MAKE_AVAILABLE')) {
                        this.value = true;
                    }
                });
                // alert('Event: ' + info.event.title);
                // alert('Coordinates: ' + info.jsEvent.pageX + ',' + info.jsEvent.pageY);
                // alert('View: ' + info.view.type);
            },
            /**
             * Triggere when event dragging stops.
             * This callback is guaranteed to be triggered after the user drags an event, even if the event doesn’t change date/time.
             * It is triggered before the event’s information has been modified (if moved to a new date/time) and before the eventDrop callback is triggered.
             * ref link for detail description  : https://fullcalendar.io/docs/eventDragStop
             * @param draggedEvent (contain objects like eventInfo/JsEvent/View)
             */
            drageStop(draggedEvent) {
                // console.log(draggedEvent);
            },
            /**
             * Triggered when dragging stops and the event has moved to a different day/time.
             * ref link for detail description : https://fullcalendar.io/docs/eventDrop
             * @param eventObj
             */
            eventResizedAndDrop(eventObj) {
                if (!confirm("Are you sure about this change?")) {
                    eventObj.revert();
                } else {
                    this.updateEvent(eventObj.event, eventObj.event.id, eventObj.newResource); // We need to also update properties in calendarEvents
                    // let index = this.calendarEvents.findIndex(event => event.id === eventObj.event.id)
                    // this.calendarEvents[index].start = eventObj.event.start;
                    // this.calendarEvents[index].end = eventObj.event.end;
                    // this.calendarEvents[index].allDay = eventObj.event.allDay;
                    // if(eventObj.newResource) {
                    //     this.calendarEvents[index].resourceId = ;
                    // }
                }
            },
            /** When mouse enters on to event
             * @param eventObj - current event object
             * */
            handleMouseEnter(eventObj) {
                this.showToolTip = false;
                this.$nextTick(() => {
                    this.showToolTip = true;
                });
                this.nudgeTooltipBottom = eventObj.jsEvent.pageY;
                this.nudgeTooltipRight = eventObj.jsEvent.pageX;
                this.eventTooltipDetails = eventObj.event.title;
            },
            /**
             * Unique Id Generator
             * @returns {string}
             */
            uId() {
                return '_' + (
                    Number(String(Math.random()).slice(2)) +
                    Date.now() +
                    Math.round(performance.now())
                ).toString(36);
            },
            /**
             * Register context menu event on the event right click
             * @param event
             * @param element
             */
            eventRender(event, element) {
                let self = this;
                event.el.addEventListener('contextmenu', function (click_event) {
                    click_event.preventDefault()
                    self.currentContextMenuEvent = event;
                    self.nudgeContextMenuBottom = click_event.pageY;
                    self.nudgeContextMenuRight = click_event.pageX;
                    self.value = false;
                    self.contextMenu = true;
                }, false)
            },

            /**
             * Call when any option is selected from the context menu
             * @param type - which type of option is selected
             */
            selectedContextMenuOption(type) {
                if (type === this.$getConst('DELETE_APPOINTMENT')) {
                    if (confirm("are you sure you to delete this Event ?")) {
                        this.calendarApi.getEventById(this.currentContextMenuEvent.event.id).remove();
                        let index = this.calendarEvents.findIndex(event => event.id === this.currentContextMenuEvent.event.id);
                        this.calendarEvents.splice(index, 1); // To remove event from array
                    }
                }
            },

            /**
             * To disable selection on current block time event
             * @param event - Existing event on selected area
             * @returns {boolean} - selection should apply or not
             */
            selectOverlap(event) {
                if (event.extendedProps.type === this.$getConst('APPT_BLOCK_TIME')) {
                    this.value = false;
                    this.contextMenu = false;
                }
                return event.extendedProps.type !== 2;
            },

            /**
             * Will select the time slots on the appointmentModal based on the selected time from the fullCalendar
             * @param startIndex - selection will start from this index
             * @param endIndex - selection will end by this index
             */
            willSelect(startIndex, endIndex) {
                const willSelection = Array.from(document.getElementsByClassName("selectable-time")).slice(startIndex, parseInt(endIndex + 1));
                willSelection.forEach(el => {
                    el.classList.add('selected');
                    this.$refs.appointmentModal.selectionInstance.select(el);
                    this.$refs.appointmentModal.selectionInstance.keepSelection();
                })
            },

            /**
             * Clear the previous selected timeslots
             */
            clearPreviousSelection() {
                let selected = this.$refs.appointmentModal.selectionInstance.getSelection();
                selected.forEach(el => {
                    el.classList.remove('selected');
                    this.$refs.appointmentModal.selectionInstance.clearSelection();
                })
            },

            getTimeString(time) {
                return time.toLocaleTimeString([], {
                    hour: '2-digit',
                    minute: '2-digit'
                });
            },
            /**
             * Restriction on selection if more than one day has been selected
             * @param event - Event object
             * @returns {boolean} - if true then cell will be selectable otherwise disable selection
             */
            // selectAllow(event) {
            //     if(this.calendarApi.view.type === this.$getConst('MONTH_VIEW')) { //Checking current view
            //         if(event.end.getDate() !== moment(event.start).add(1, 'days').date()){ //If month view then need to add a day
            //             return false;
            //         }
            //     }else {
            //         if(event.end.getDate() !== event.start.getDate()){
            //             return false;
            //         }
            //     }
            //     return true;
            // },

            /**
             * Change business hours
             * @param resource - resoource ID
             */
            changeBusinessHours(resource) {
                //Here we put the our own way to update resource, first we delete old resource and add new resource with same ID/Title/Resource Order of old resource
                let removedResource = this.calendarApi.getResourceById(resource);
                removedResource.remove();
                this.calendarApi.addResource({
                    id: removedResource.id,
                    title: removedResource.title,
                    resource_order: removedResource.extendedProps.resource_order,
                    businessHours: [ // specify an array instead
                        {
                            daysOfWeek: [1, 2, 3], // Monday, Tuesday, Wednesday
                            startTime: '08:00', // 8am
                            endTime: '18:00' // 6pm
                        },
                        {
                            daysOfWeek: [4, 5, 6, 0], // Thursday, Friday
                            startTime: '10:00', // 10am
                            endTime: '16:00' // 4pm
                        }
                    ]
                });
            },
            /**
             * Change working time
             * @param time - time object contains min time and max time
             */
            changeTimeSlots(time) {
                this.calendarApi.setOption('minTime', time.minTime);
                this.calendarApi.setOption('maxTime', time.maxTime);
            }
        }
    };
</script>
<style lang='scss'>

    // you must include each plugins' css
    // paths prefixed with ~ signify node_modules
    @import '~@fullcalendar/core/main.css';
    @import '~@fullcalendar/daygrid/main.css';
    @import '~@fullcalendar/timegrid/main.css';
    @import '~@fullcalendar/resource-timeline/main.css';
    /*@import'~bootstrap/dist/css/bootstrap.css';*/

    .demo-app-calendar {
        margin: 0px auto;
        max-width: 1100px;
    }
</style>
