<template>
    <div class="selectable-time-wrapper">
        <v-list max-height="500" :class="{'add-style': paramProps === 0, 'edit-style': paramProps > 0}">
            <v-list-item v-for="(item, i) in timeSlots" :key="i" :class="{'selectable-time': true}">
                <v-list-item-content>
                    <v-list-item-title>{{item}}</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
        </v-list>
    </div>
</template>

<script>

    import Selection from "@simonwep/selection-js";
    import options from "./options"; // import options for selection.js

     export default {
        name: 'SelectableTime',
         props: ['timeSlots', 'paramProps'],
         data() {
           return {
               selectionInstance: null,
           }
         },
        mounted() {
            this.selectionInstance = Selection.create({

                // Class for the selection-area-element
                class: "selection-area",

                selectedClass: "selected",

                // px, how many pixels the point should move before starting the selection
                startThreshold: 10,
                tapMode: 'native',
                // Disable the selection functionality for touch devices
                disableTouch: false,

                // Enable single-click selection
                singleClick: false,

                // Query selectors from elements from which the siblings can be selected
                // containers: [".selectable-time-grid"],

                // Query selectors from elements which can be selected
                selectables: [".selectable-time"],

                // Query selectors for elements which will be used as boundaries for the selection
                boundaries: [".selectable-time-wrapper"],
            }).on('beforestart', ({inst, selected, oe}) => {
                console.log('selected', selected)
            }).on('start', ({inst, selected, oe}) => {

                // Remove class if the user isn't pressing the control key or ⌘ key
                if (!oe.ctrlKey && !oe.metaKey) {

                    // Unselect all elements
                    for (const el of selected) {
                        el.classList.remove('selected');
                        inst.removeFromSelection(el);
                    }

                    // Clear previous selection
                    inst.clearSelection();
                }

            }).on('move', ({changed: {removed, added}}) => {

                // Add a custom class to the elements that where selected.
                for (const el of added) {
                    el.classList.add('selected');
                }

                // Remove the class from elements that where removed
                // since the last selection
                for (const el of removed) {
                    el.classList.remove('selected');
                }

            }).on('stop', ({inst}) => {
                // Remember selection in case the user wants to add smth in the next one
                inst.keepSelection();
            });
            // this.selectionInstance = Selection.create(options);
            const preSelected = Array.from(document.querySelectorAll(".item")).splice(0, 5);
            console.log(preSelected)
        }
    };
</script>

<!-- UNSCOPED -->
<style lang="scss">
</style>

<!-- SCOPED -->
<style lang="scss" scoped>
    .selection-area {
        outline: 1px solid rgba(0, 128, 255, 0.6);
        background: rgba(0, 128, 255, 0.2);
    }
    .selectable-time-grid {
        display: flex;
        flex-wrap: wrap;
        // width: 600px;
        // margin: 0 auto;
        // background: #eee;
    }

    .selectable-time {
        /*width: 100px;*/
        /*height: 35px;*/
        /*padding: 10px;*/
        cursor: pointer;
        background: #ddd;
        text-align: center;
        // margin: 2px;
        /*border: 1px solid white;*/
        // border-radius: 3px;
    }

    .add-style {
        overflow: auto;
    }
    .edit-style {
        overflow: auto;
        display: flex;
    }

    .selected {
        background: rgba(0, 128, 64, 0.3);
        // transition: background 300ms ease;
    }
</style>
