<template>
    <v-app>
        <v-app-bar
                app
                color="primary"
                dark
        >

        </v-app-bar>

        <v-content>
            <custom-full-calendar></custom-full-calendar>
        </v-content>
    </v-app>
</template>

<script>
    import CustomFullCalendar from "./components/CustomFullCalendar";

    export default {
        name: 'App',

        components: {
            CustomFullCalendar
        },
    };
</script>

